{% extends 'musicbeats/basic.html' %}
{% block title %} Broese Channels {% endblock %}
{% block body %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color: white; height:80em;">
<div class="component">
<h2 style="padding-top:2%; padding-left:5%; font-family:'verdana'; color: black;" >Trending Channels</h2>
<div class="row" style="padding-left: 4%; padding-top: 2%; ">
<div class="card" style="width: 15rem; margin-left:2%; margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 15rem;  margin-left:2%; margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 15rem;margin-left:2%;  margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 15rem; margin-left:2%; margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>




<h2 style="padding-top:2%; padding-left:5%; font-family:'verdana'; color: black;" >Recently Joined</h2>
<div class="row" style="padding-left: 4%; padding-top: 2%; ">
<div class="card" style="width: 15rem; margin-left:2%; margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 15rem;  margin-left:2%; margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 15rem;margin-left:2%;  margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 15rem; margin-left:2%; margin-top:2%;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>


<div>
</main>
{% endblock %}