{% extends 'musicbeats/basic.html' %}
{% block title %} All Songs {% endblock %}


{% block body %}
<script>
{% if message %}
Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: '{{message}}',
  showConfirmButton: false,
  timer: 1500
})
{% endif %}
</script>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color: white; height:80em">
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-top: 3%;">
            <img src="/media/{{song.image}}" alt="" height="250" width="350">
        </div>
        <div class="col-md-6">
            <h2 style ="padding-top: 6%; font-weight:550; ">Name:{{song.name}}</h2>
            <h5 style ="padding-top: 6%; font-weight:550;">Category: {{song.tags}}</h2>
            <p style ="padding-top: 6%; font-weight:650;">Description: {{song.description}}</p>
            <h5 style ="padding-top: 6%; font-weight:550;">Artist: {{song.singer}}</h2>
            <audio controls  style="padding-top: 2%;">
                <source src="/media/{{song.song}}" type="audio/mp3">
            </audio>
            <div style="padding-top:2%;">
                <div class="row">
                    {% if user.is_authenticated %}
                    <form method="POST" action="/musicbeats/watchlater">
                    {% csrf_token %}
                        <input type="hidden" name="video_id" value="{{song.song_id}}">
                        <button class="btn btn-outline-danger">Add To WatchLater</button>
                    </form>
                    {% endif %}
                    <a href="/media/{{song.song}}" download style="padding-top: 2%;"> <button class="btn btn-outline-danger">Download Song</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
